.ItemListContainer{
    margin: 50px;
    width: 100px;
    height: 100px;
}

ul{
    display: flex;
    justify-content: space-around;
    width: 50%;
    background-color: gray;
}

li{
    color: white;
    font-size: 18px;
    list-style-type: none;
}