.ItemListContainer{
   margin: 5px;
    width: 100%;
    
}

.ItemListUL{
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;
    width: 50%;
}

.ItemListUL li{
    color: black;
    font-size: 18px;
    list-style-type: none;
}