*{
  margin: 0;
  padding: 0;
  }
  
  .App {
    text-align: center;
  }

  .UserSection{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;

  }

  .CounterSection{
    margin: 30px;
    padding: 20px;
    background-color: gray;
    
  }